body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

.wrapper {
background-color: #A7DBD8;
max-width: 1000px;
padding-left: 50px;
padding-right: 50px;
margin: auto;
border: 1px solid gray;
}

.contacts-block {
  margin-left: 50px;
}

.icons {
  max-width: 50px;
}

#avatar {
  max-width: 200px;
  box-shadow: 3px 3px 1px #69D2E7;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #E0E4CC;
  padding: 10px 0px;
}

h1 {
  margin: 0;
}

h2 {
  font-weight: 400;
  margin: 0;
  padding: 0px 2px;
  background-color: #E0E4CC;
  font-size: 1.5em;
  display: inline;
}

h3 {
  text-transform: uppercase;
}

#social {
  list-style-type: none;
  padding: 0;
  column-count: 2;
  margin-top: 24px;
  margin-bottom: 0;
}

#social li {
  margin-bottom: 10px;
  padding-left: 2.2em;
}

.email-ico {
  background: url("email-8.svg") no-repeat;
}

.github-ico {
  background: url("github.svg") no-repeat;
}

.discord-ico {
  background: url("discord.svg") no-repeat;
}

.phone-ico {
  background: url("phone.svg") no-repeat;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #69D2E7;
  text-decoration: none;
}